@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
}

a.anchor {
  display: block;
  position: relative;
  top: -370px;
  visibility: hidden;
}
a.anchors {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}
a.anchorg {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}
a.anchorgr {
  display: block;
  position: relative;
  top: -1520px;
  visibility: hidden;
}

@layer base{
  body{
    @apply bg-[#ecf0f3] text-[#212427] tracking-wide;
  }

  h1,h2,h3,h4,h5,h6{
    @apply font-bold
  }
  
  h1{
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-[#00a3d9] rounded-xl uppercase tracking-widest font-bold  text-white uppercase bg-gradient-to-r from-[#1d6581] to-[#00a3d9]
  }

}